<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--这是Spring上下文的配置文件，放置Spring和Spring兄弟文件-->
    <!--启动基于annotation的DI管理-->
    <context:annotation-config/>

    <!--同时需要配置下无需管理Controller，因为这个交给我们的DispatcherServlet来管理-->
    <context:component-scan base-package="com.tt">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <import resource="../mybatis/spring-mybatis.xml"/>
</beans>